.datosComponent {
    padding: 2rem;
}

.datosComponent__ul {
    list-style: none;
    margin: 1rem 0;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

li {
    margin: 1rem 0;
}

i, strong {
    margin: 1rem;
    font-size: 1.25rem;
}

i {
    opacity: 0.9;
}