header {
    background-color: beige;
    text-align: center;
    height: 10vh;
    padding: 2rem;
}

main {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 'fotoComponent datosComponent'
    'educacionComponent experienciaComponent';
    background-color: beige;
    width: 100vw;
    min-height: 90vh;
    padding: 2rem;
};